#header {
    text-align: center;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    animation: fadeInDown 1.5s ease-in-out;
}

#person-container {
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    background-color: #886060;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 99;
}

#person {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    animation: bounce 2s infinite;
}

#bubble {
    width: 140px;
    height: 90px;
    background-color: #a0a0a0;
    text-align: center;
    margin: 30px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-70%);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#text {
    margin: 0;
    font-size: 16px;
    color: #333;
}


/* h1 {
    font-size: 76px;
    font-weight: bold;
    color: #9B717Cff;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 0.5s forwards;
}

h1 span {
    display: block;
    font-size: 40px;
    font-weight: normal;
} */

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}