 /* Estilos adicionales */
    
 body {
    background-image: url('https://image.slidesdocs.com/responsive-images/background/pink-fruit-discount-food-activity-butterfly-breakfast-powerpoint-background_ed441d44ab__960_540.jpg');
    background-size: cover; /* Expandir para cubrir completamente */
    background-attachment: fixed;
    padding-top: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}


h1 {
    font-size: 76px;
    font-weight: bold;
    color: #9B717Cff;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 0.5s forwards;
}

h1 span {
    display: block;
    font-size: 40px;
    font-weight: normal;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 570px;
}

.menu-category {
    margin-top: 20px;
    padding: 20px;
    transition: transform 0.5s;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(rgba(167, 143, 154, 0.5), rgba(167, 143, 154, 0.5)), url('https://cdn-icons-png.flaticon.com/512/4880/4880443.png');
    background-size: cover;
    border-radius: 30px;
    position: relative;
}

.menu-category:hover {
    background: linear-gradient(rgba(167, 143, 154, 0.8), rgba(167, 143, 154, 0.8)), url('https://cdn-icons-png.flaticon.com/512/4880/4880443.png');
    background-size: cover;
    /*transform: scale(1.01);*/
}


.category-header {
    background-color: #9B717Cff;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-table {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.menu-item img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.menu-item-details {
    padding-left: 20px;
}

.menu-item-price {
    font-weight: bold;
}

/* Flexbox para crear dos columnas */
.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-category {
    width: calc(50% - 10px);
}

/* Añadir una transición de zoom a las imágenes */
.menu-item img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; /* Agregar transición de zoom */
}

/* Aplicar zoom cuando el cursor está sobre la imagen */
.menu-item img:hover {
    transform: scale(1.5);
}
