:root{
    ---principal: #68091Fff;
    ---secundario: #9E0442ff;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/UnivalleBackground.jpeg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: white;
    font-size: 28px;
    overflow: hidden; 
    max-width: 200px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(---principal);
    transition: 0.3s;
}

.buttonS{
    border: none;
    background: var(---principal);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.buttonS a{
    text-decoration: none;
    color:white;
}

.buttonS:hover{
    color: var(---principal);
    transition: 0.4s;
    background-color: var(---secundario);
}

.Opciones {
    margin-top: 50px;
}

.Opciones a {
    z-index: 1;
    transition: all .2s;
    position: relative;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    margin: 10px;
    align-items: center;
    justify-content: center;
}


.Opciones a:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
}

.Opciones table {
    width: 100%; 
    margin: auto;
    border-spacing: 20px;
}

.Opciones .boton {
    text-align: center;
    position: relative;
}

.Opciones table tr {
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
    .Opciones table {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    .Opciones table {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    .Opciones table {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .Opciones table {
        width: 40%;
    }
}

.boton {
    display: block;
    z-index: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #000;
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: rgba(255,255,255,.3);
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: transform 0.4s ease-in-out; 
    position: relative;
    transform: translate(0);
    box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.boton:hover {
    text-decoration: none;
    transform: translate(-8px,-8px);
    background-color: var(---principal);
   
}

.boton_bg-grad {
    z-index: -2;
    /* background: linear-gradient(20deg, var(---principal) 0%, var(---secundario) 100%); */
    background: var(---principal);
    background-position: 0 0;
    background-size: cover;
    border-radius: 4px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: transform 0.5s ease-in-out;
    transform: translate(0.5rem,0.5rem);
    pointer-events: none;
}


.button-anon-pen {
    width: 200px;
    flex-wrap: wrap;
    background:white;
    text-align: center;
    margin: 10px;
    
    color: #fff;
    text-decoration: none;
    display: block;
    top: 45vh;
    font-weight: normal;
    border-radius: 6px;
    overflow: hidden;
    transition: background-position 1.6s ease-in;
}
.boton:hover .boton_bg-grad {
    transform: scale(1.1);
}
.button-anon-pen:hover {
    background-position: -390px; 
}

.button-anon-pen span {
    width: 193px;
    height: 150px;
    padding: 14px 0;
    font-size: 22px;
    display: block;
    margin: 3px;
    background: #000;
    border-radius: 3px;
}