:root{
    ---principal: #68091Fff;
    ---secundario: #9E0442ff;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/UnivalleBackground.jpeg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: white;
    font-size: 28px;
    overflow: hidden; 
    max-width: 200px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(---principal);
    transition: 0.3s;
}

.buttonS{
    border: none;
    background: var(---secundario);
    padding: 12px 30px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.buttonS a{
    text-decoration: none;
    color:white;
}

.buttonS:hover{
    color: var(---secundario);
    transition: 0.4s;
    background-color: #68091Fff;
}

.buttonS a:hover{
    color: white;
}

.Opciones{
    padding: 20px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    position: relative;
}

.Opciones2{
   
    padding: 30px;
    padding-right: 0px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define el ancho mínimo y ajusta automáticamente las columnas */
    gap: 10px; /* Espacio entre las opciones */
   /* justify-content: center; 
    align-items: center;*/
}

.Opciones2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.button-anon-pen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to bottom right, #68091Fff, #9E0442ff);
    padding: 20px;
    margin: 10px; /* Reduce the margin */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    width: calc(14.28% - 20px); /* Adjust the width to accommodate 7 per row */
    max-width: 160px; /* Adjust the max-width as needed */
    height: 200px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-anon-pen:hover {
    transform: scale(1.04);
}

.button-anon-pen span {
    margin-top: 10px;
}

/*
.Opciones a {
    z-index: 1;
    transition: all .2s;
    position: relative;
    
    max-width: fit-content;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    margin: 10px;
    align-items: center;
    justify-content: center;
}


.Opciones a:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
}

.boton {
    display: block;
    z-index: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #000;
    text-align: center;
    background-color: rgba(255,255,255,.3);
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: transform 0.4s ease-in-out; 
    position: relative;
    transform: translate(0);
    box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.boton:hover {
    text-decoration: none;
    transform: translate(-8px,-8px);
   
}

.boton_bg-grad {
    z-index: -2;
    background: linear-gradient(20deg, var(---principal) 0%, var(---secundario) 100%);
    background-position: 0 0;
    background-size: cover;
    border-radius: 4px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: transform 0.5s ease-in-out;
    transform: translate(0.5rem,0.5rem);
    pointer-events: none;
}


.button-anon-pen {
    width: 200px;
    flex-wrap: wrap;
    background:white;
    text-align: center;
    margin: 10px;
    
    color: #fff;
    text-decoration: none;
    display: block;
    top: 45vh;
    font-weight: normal;
    border-radius: 6px;
    overflow: hidden;
    transition: background-position 1.6s ease-in;
}
.boton:hover .boton_bg-grad {
    transform: scale(1.1);
}
.button-anon-pen:hover {
    background-position: -390px; 
}

.button-anon-pen span {
    width: 193px;
    height: 150px;
    padding: 14px 0;
    font-size: 22px;
    display: block;
    margin: 3px;
    background: #000;
    border-radius: 3px;
}
*/
