:root {
    --platinum: #EAE8E9ff;
    --chocolate-cosmos: #68091Fff;
    --rosy-brown: #C59682ff;
    --amaranth-purple: #9E0442ff;
    --mountbatten-pink: #9B717Cff;
    --transparent-white: rgba(255, 255, 255, 0.8); 
}

body {
    padding: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to right bottom, var(--platinum), var(--chocolate-cosmos));
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    border-radius: 10px;
    margin-bottom: 20px; 
    background-color: var(--chocolate-cosmos); 
    backdrop-filter: blur(15px); 
}

.container-fluid {
    margin-top: 20px; 
}


.row:first-child {
    margin-bottom: 20px; 
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    height: 70px;
}

.univalle-text {
    color: #ffffff; 
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--platinum);
   
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--platinum);
}