/* Colores (Variables) */
:root {
  --negro: #000;
  --blanco: #fff;
  --color_primario: #B90D41 ;
  --color_secundario: #8D0A31 ;
  --color_p1: rgba(185, 13, 65, 0.6);
  --color_p2: rgba(185, 13, 65, 0.4) ;
  --color_p3: #A0072E;
  --color_p4: #FFD8E2;
  --color_p5: #FFBAC9;
  --color_p6: #FFA4B7;
  --color_p7: #FFC2D0;
  --color_p8: #A13E57 ;

}

/* Cuerpo */
body {
  overflow: hidden; 
  }

.boton img {
  width: 100%; 
  height: auto;
}


 /* titulo  */
 h1 {
  color: hsla(0, 0%, 0%, .9);
  font: normal 140px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
  animation: move linear 2s infinite; 
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}

.titulo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Altura del contenedor, puedes ajustarla según tus preferencias */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.h2{
  font-size: 2.5rem; /* Tamaño de fuente */
  text-align: center;
  margin: 0;
  padding: 10px 20px; /* Espaciado interno */
  color: transparent; /* Inicialmente transparente */
  background-image: linear-gradient(to right, #000, #fff); /* Efecto de cambio de color */
  background-clip: text; /* Aplicar el fondo solo al texto */
  -webkit-background-clip: text; /* Para navegadores webkit (como Chrome) */
  animation: colorWave 2s linear infinite; /* Animación de cambio de color */
}

/* Animación de cambio de color */
@keyframes colorWave {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.intro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  background: var(--negro); /* Asegúrate de que --negro esté definido en tu hoja de estilo o cambia esto a un color válido */
  transition: 3s;
}
.intro h1 {
color: black; /* Código de color guindo */
}

.intro p{
  color: grey;
  font-size: 1.6rem;
  margin-top: 10px;
}

.logo{
  font-size: 3.5rem;
}

.logo-parts {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0; /* Agrega una propiedad inicial de opacidad para ocultar los elementos */
  transition: ease-in-out 0.5s; /* Corrige el formato de la propiedad transition */
}

.logo-parts.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-parts.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.content {
  width: 100%;
  padding: 50px;
  font-size: 2rem;
}
