/* Colores (Variables) */
:root {
    --negro: #000;
    --blanco: #fff;
    --color_primario: #B90D41 ;
    --color_secundario: #8D0A31 ;
    --color_p1: rgba(185, 13, 65, 0.6);
    --color_p2: rgba(185, 13, 65, 0.4) ;
    --color_p3: #A0072E;
    --color_p4: #FFD8E2;
    --color_p5: #FFBAC9;
    --color_p6: #FFA4B7;
    --color_p7: #FFC2D0;
    --color_p8: #A13E57 ;

  }

   /* titulo  */
   h1 {
    color: hsla(0, 0%, 0%, .9);
    font: normal 140px Varela Round, sans-serif;
    height: 140px;
    left: 0;
    letter-spacing: 5px;
    margin: -80px 0 0 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 100%;
    animation: move linear 2s infinite; 
  }
  
  @keyframes move {
    0% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    25% {    
      text-shadow:      
        -4px -4px 0 hsla(180, 100%, 50%, 1), 
        -3px -3px 0 hsla(180, 100%, 50%, 1), 
        -2px -2px 0 hsla(180, 100%, 50%, 1), 
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 hsla(0, 100%, 50%, 1), 
        3px 3px 0 hsla(0, 100%, 50%, 1), 
        2px 2px 0 hsla(0, 100%, 50%, 1), 
        1px 1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1), 
        -3px 3px 0 hsla(0, 100%, 50%, 1), 
        -2px 2px 0 hsla(0, 100%, 50%, 1), 
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 hsla(180, 100%, 50%, 1), 
        3px -3px 0 hsla(180, 100%, 50%, 1), 
        2px -2px 0 hsla(180, 100%, 50%, 1), 
        1px -1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1), 
        3px 3px 0 hsla(180, 100%, 50%, 1), 
        2px 2px 0 hsla(180, 100%, 50%, 1), 
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 hsla(0, 100%, 50%, 1), 
        -3px -3px 0 hsla(0, 100%, 50%, 1), 
        -2px -2px 0 hsla(0, 100%, 50%, 1), 
        -1px -1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }  
  }

.titulo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Altura del contenedor, puedes ajustarla según tus preferencias */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.h2{
    font-size: 2.5rem; /* Tamaño de fuente */
    text-align: center;
    margin: 0;
    padding: 10px 20px; /* Espaciado interno */
    color: transparent; /* Inicialmente transparente */
    background-image: linear-gradient(to right, #000, #fff); /* Efecto de cambio de color */
    background-clip: text; /* Aplicar el fondo solo al texto */
    -webkit-background-clip: text; /* Para navegadores webkit (como Chrome) */
    animation: colorWave 2s linear infinite; /* Animación de cambio de color */
}

/* Animación de cambio de color */
@keyframes colorWave {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: var(--negro); /* Asegúrate de que --negro esté definido en tu hoja de estilo o cambia esto a un color válido */
    transition: 3s;
}

.intro p{
    color: grey;
    font-size: 1.6rem;
    margin-top: 10px;
}

.logo{
    font-size: 3.5rem;
}

.logo-parts {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0; /* Agrega una propiedad inicial de opacidad para ocultar los elementos */
    transition: ease-in-out 0.5s; /* Corrige el formato de la propiedad transition */
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.content {
    width: 100%;
    padding: 50px;
    font-size: 2rem;
}


/* Cuerpo */

body {
    /* font-family: 'Raleway', sans-serif;
    background-image: radial-gradient(circle at center, var(--color_p6), var(--color_p7));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, var(--color_p4), var(--color_p5));
    font-weight: 300; */

    background-image: url('../images/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Aplica un fondo semitransparente */
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5); /* Ajusta la opacidad como desees */
    }
    
    font-family: 'Raleway', sans-serif;
    font-weight: 300; 

  }

  /* todo el cuerpo */
  .all {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
  }
  .all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
      opacity: 1;
    }
    & > div {
      opacity: 1;
      transition-delay: 0s;
    }
    .explainer {
      opacity: 0;
    }
  }


  
  /* opciones */
  .left, .center, .right, .lefter, .righter {
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid var(--blanco);
    box-shadow: 0 0 20px 5px var(--color_p2);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--color_p3);
    cursor: pointer;
    background-blend-mode: color-burn;
    
    &:hover {
      box-shadow: 0 0 30px 10px var(--color_p1);
    background-color: var(--color_p8);
    }
  }

  /* texto opciones */
  
  .text {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: var(--negro);
    text-shadow: 0 0 5px var(--color_p1)
  }

  /* imagenes opciones fondos */
  .lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
  }
  .left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn0.iconfinder.com/data/icons/phosphor-thin-vol-4/256/student-thin-512.png);
  }
  .center {
    opacity: 1;
    background-image: url(https://cdn3.iconfinder.com/data/icons/sympletts-free-sampler/128/coffee-cup-2-512.png);
  }
  .right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(https://cdn0.iconfinder.com/data/icons/simple-line-48px/48/check-512.png);
  }
  .righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/solid-locations-icon-set/64/LIBRARY_2-512.png);
  }


  /* sobre mi Boton */
  .explainer {
    font-weight: 300;
    font-size: 2rem;
    color: var(--blanco);
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: var(--color_secundario);
    background-image: radial-gradient(circle at center top, var(--color_p8), var(--color_primario));
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .ref {
    background-color: var(--negro);
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: var(--blanco);
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    &::first-letter {
      font-size: 12px;
    }
  }

  /* Estilo para el menú lateral (aside) */
aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .5s ease;
  z-index: 2;
}
nav {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-count: 2; /* Ajusta el número de columnas según tus necesidades */
  column-gap: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  align-items: center;
  flex: 1;
  line-height: 50px;
}

nav ul li a {
  font-size: 1.5em;
  transition: all 0.5s ease;
  display: block;
  text-decoration: none;
  color: var(--negro);
}

nav ul li a:hover {
  color: var(--color_secundario);
  transform: scale(1.1);
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 25%;
  background: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.detalle{

}

.requisitos{

}

.duracion{

}
