:root {
    --platinum: #EAE8E9ff;
    --chocolate-cosmos: #68091Fff;
    --rosy-brown: #C59682ff;
    --amaranth-purple: #9E0442ff;
    --mountbatten-pink: #9B717Cff;
    --transparent-white: rgba(255, 255, 255, 0.8); 
}

body {
    background: linear-gradient(to right bottom, var(--platinum), var(--chocolate-cosmos));
    padding: 60px;
    margin-bottom: 20px;
    /*background:#e2e2e2*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.TituloH2{
    color: white; 
    text-align: center;
    font-size: 40px;
}


.MigaDePan{
    color: white;
    text-align: left;
    margin-left: 10px;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: white;
    font-size: 28px;
    overflow: hidden; 
    max-width: 200px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(---principal);
    transition: 0.3s;
}

.buttonS{
    border: none;
    background: var(---principal);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.buttonS a{
    text-decoration: none;
    color:white;
}

.buttonS:hover{
    color: var(---secundario);
    transition: 0.4s;
    background-color: var(---secundario);
}

.buttonS a:hover{
    color: white;
}

.Opciones{
    padding: 20px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    position: relative;
}

.Opciones2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    padding: 30px;
    padding-right: 0px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 10px; /* Espacio entre las opciones */
    width: 200%; 
   /* justify-content: center; 
    align-items: center;*/
}

.button-anon-pen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom right, #68091Fff, #9E0442ff, #A0072E);
    padding: 20px;
    margin: 10px; /* Reduce the margin */
    border-radius: 10px;
    transition: transform 1.6s ease-in-out;
    /* width: calc(14.28% - 20px); Adjust the width to accommodate 7 per row */
    max-width: 160px; /* Adjust the max-width as needed */
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 480px; 
    height: 150px;
}

.button-anon-pen:hover {
    transform: scale(1.04);
}

.button-anon-pen span {
    margin-top: 10px;
    font-weight: bold;
}

.SpanB{
    font-weight: bold;
}